:root {
    --light-clr: #f3f3f3;
    --dark-clr: #252525;
    --dark-light-clr: #3f3f3f;
    --accent-clr: #df2012;
    --red-clr: #8a150d;
    --grey-clr : #bebebe;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: var(--dark-light-clr);
    align-items: center;
}

header a {
    font-size: 35px;
    color: var(--light-clr);
    font-weight: bold;
}

header a span {
    color: var(--accent-clr);
}

header nav ul {
    display: flex;
    gap: 3em;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li a{
    font-size: 20px;
    font-weight: 100;
}

header nav ul li a:hover{
    color: var(--accent-clr);
}

header nav ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--accent-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease;
}

header nav ul li:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}